<!DOCTYPE html>
<html>
<head>
    <title>Checking Edit</title>
</head>
<body>
<h1>School Edit</h1>
<form action="/checking/update" method="get">
    <input type="hidden"
           id="transaction_id"
           name="transaction_id"
           value="<%= checking.transaction_id %>"
    />
    Date: <input
            id="date"
            name="date"
            type="date"
            value='<%= checking.date %>'
    />
    <br />
    Merchant Name: <input
            id="merchant_name"
            name="merchant_name"
            type="text"
            value='<%= checking.merchant_name %>'
    />
    <br />
    Description: <input
            id="description"
            name="description"
            type="text"
            value='<%= checking.description %>'
    />
    <br />
    Credit: <input
            id="credit"
            name="credit"
            type="text"
            value='<%= checking.credit%>'
    />
    <br />
    Debit: <input
            id="debit"
            name="debit"
            type="text"
            value='<%= checking.debit%>'
    />
    <br />
    Balance: <input
            id="balance"
            name="balance"
            type="text"
            value='<%= checking.balance%>'
    />
    <br />


    <input type="submit" />
</form>
</body>
</html>