<!DOCTYPE html>
<html>
<head>

</head>

<body background="http://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg">
<br />

<h1>Account Information</h1>

    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>

        </tr>
        <tr>
            <td><%= user_result[0].first_name %></td>
            <td><%= user_result[0].last_name %></td>
            <td><%= user_result[0].email %></td>
            <td><%= user_result[0].phone_number %></td>


        </tr>
    </table>

<table border="1">
    <tr>
        <th>Street</th>
        <th>City</th>
        <th>Zip</th>
        <th>State</th>

    </tr>
    <br /> <br />
     Address:
    <tr>
        <td><%= user_result[0].street %></td>
        <td><%= user_result[0].city %></td>
        <td><%= user_result[0].zip %></td>
        <td><%= user_result[0].state %></td>


    </tr>
</table>

<br /><br />
Account:
<table border="1">
    <tr>
        <th>Account Number</th>
    </tr>
    <tr>
        <td><%= user_result[0].customer_id %></td>
    </tr>

</table>

    <br />
</body>
</html>
