<!DOCTYPE html>
<html>
<head>
    <title>Savings Edit</title>
</head>
<body>
<h1>Savings Edit</h1>
<form action="/savings/update" method="get">
    <input type="hidden"
           id="transaction_id"
           name="transaction_id"
           value="<%= savings.transaction_id %>"
    />
    Date: <input
            id="date"
            name="date"
            type="date"
            value='<%= savings.date %>'
    />
    <br />
    Description: <input
            id="description"
            name="description"
            type="text"
            value='<%= savings.description %>'
    />
    <br />
    Credit: <input
            id="credit"
            name="credit"
            type="text"
            value='<%= savings.credit%>'
    />
    <br />
    Debit: <input
            id="debit"
            name="debit"
            type="text"
            value='<%= savings.debit%>'
    />
    <br />
    Balance: <input
            id="balance"
            name="balance"
            type="text"
            value='<%= savings.balance%>'
    />
    <br />


    <input type="submit" />
</form>
</body>
</html>