<!DOCTYPE html>
<html>
<head>
    <title>Credit Edit</title>
</head>
<body>
<h1>Credit Edit</h1>
<form action="/credit/update" method="get">
    <input type="hidden"
           id="transaction_id"
           name="transaction_id"
           value="<%= credit.transaction_id %>"
    />
    Date: <input
            id="date"
            name="date"
            type="date"
            value='<%= credit.date %>'
    />
    <br />
    Merchant Name: <input
            id="merchant_name"
            name="merchant_name"
            type="text"
            value='<%= credit.merchant_name %>'
    />
    <br />
    Description: <input
            id="description"
            name="description"
            type="text"
            value='<%= credit.description %>'
    />
    <br />
    Credit: <input
            id="credit"
            name="credit"
            type="text"
            value='<%= credit.credit%>'
    />
    <br />
    Debit: <input
            id="debit"
            name="debit"
            type="text"
            value='<%= credit.debit%>'
    />
    <br />
    Balance: <input
            id="balance"
            name="balance"
            type="text"
            value='<%= credit.balance%>'
    />
    <br />


    <input type="submit" />
</form>
</body>
</html>